@import url('https://fonts.googleapis.com/css?family=Anton');

h1{
font-family: Anton;
font-size: 17px;


}

.container {
    width: 40%;
    height: 200px;
    background: rgb(146, 153, 143);
    padding: 10px;
}
.questions {
    width: 10%;
    height: 200px;
    background: rgb(190, 226, 172);
    float: left;
}
.buttons {
    margin-left: 10%;
    height: 200px;
    background:rgb(75, 140, 43);
}